body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px; /* Ajustez la largeur selon vos préférences */
    max-width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr; /* Deux colonnes pour les champs Nom et Prénom */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, textarea {
    width: 290px; /* Ajustez la largeur selon vos préférences */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #4caf50;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}
